.art-404-page.art-default-page-custom-wrapper {
  padding-top: 323px !important;
  padding-bottom: 270px !important;

  .art-404-data {
    text-align: center;

    .art-404-title {
      margin-bottom: 40px;
    }
  }
}