
.icon-cherie_arrow:before { content: '\e800'; } /* '' */
.icon-cherie_arrow_back:before { content: '\e801'; } /* '' */
.icon-cherie_arrow_left:before { content: '\e802'; } /* '' */
.icon-cherie_arrow_right:before { content: '\e803'; } /* '' */
.icon-cherie_chevron:before { content: '\e804'; } /* '' */
.icon-cherie_close:before { content: '\e805'; } /* '' */
.icon-cherie_close-big:before { content: '\e806'; } /* '' */
.icon-cherie_plus:before { content: '\e807'; } /* '' */
.icon-cherie_search:before { content: '\e808'; } /* '' */
.icon-cherie-short-arrow-left:before { content: '\e809'; } /* '' */
.icon-cherie-short-arrow-right:before { content: '\e80a'; } /* '' */
.icon-cherie_arrow_down:before { content: '\e80b'; } /* '' */
.icon-cherie_arrow_up:before { content: '\e80c'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-dot:before { content: '\e80e'; } /* '' */
.icon-ic_info:before { content: '\e814'; } /* '' */
.icon-union:before { content: '\e815'; } /* '' */
.icon-ic_success:before { content: '\e816'; } /* '' */
.icon-basket:before { content: '\e818'; } /* '' */
.icon-basket-1:before { content: '\e819'; } /* '' */
.icon-basket-2:before { content: '\e81a'; } /* '' */
.icon-basket-3:before { content: '\e81b'; } /* '' */
.icon-basket-alt:before { content: '\e81c'; } /* '' */
.icon-cart:before { content: '\e81d'; } /* '' */
.icon-basket-4:before { content: '\e81e'; } /* '' */
.icon-basket-circled:before { content: '\e81f'; } /* '' */